body{
    text-align: center;
    overflow: hidden;
    margin: 0;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 25px;
	height: 25px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.tools{
    padding: 20px;
    background: green;
}
.tools>span{
    font-size: 20px;
}
.tools>.active{
     background: red;
}
#canva{
    background: white;
}